In [27]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file

start_time= datetime.datetime(2016,3,1)
end_time=datetime.datetime(2016,3,10)

df = data.DataReader(name="GOOG", data_source="yahoo", start = start_time, end= end_time)

df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2016-02-29,700.320007,710.890015,697.679993,697.770020,697.770020,2481100
2016-03-01,703.619995,718.809998,699.770020,718.809998,718.809998,2151400
2016-03-02,719.000000,720.000000,712.000000,718.849976,718.849976,1629000
2016-03-03,718.679993,719.450012,706.020020,712.419983,712.419983,1956800
2016-03-04,714.989990,716.489990,706.020020,710.890015,710.890015,1972100
2016-03-07,706.900024,708.091003,686.900024,695.159973,695.159973,2985100
2016-03-08,688.590027,703.789978,685.340027,693.969971,693.969971,2076300
2016-03-09,698.469971,705.679993,694.000000,705.239990,705.239990,1421500
2016-03-10,708.119995,716.440002,703.359985,712.820007,712.820007,2829400

In [37]:
def inc_dec(c,o):
    if c>o:
        value= "increase"
    elif c<o:
        value = "decrease"    
    else: 
        value = "same"
    return value

df["Status"]= [inc_dec(c, o) for c, o in zip(df.Close, df.Open)]
df

,Open,High,Low,Close,Adj Close,Volume,Status
Date,,,,,,,
2016-02-29,700.320007,710.890015,697.679993,697.770020,697.770020,2481100,decrease
2016-03-01,703.619995,718.809998,699.770020,718.809998,718.809998,2151400,increase
2016-03-02,719.000000,720.000000,712.000000,718.849976,718.849976,1629000,decrease
2016-03-03,718.679993,719.450012,706.020020,712.419983,712.419983,1956800,decrease
2016-03-04,714.989990,716.489990,706.020020,710.890015,710.890015,1972100,decrease
2016-03-07,706.900024,708.091003,686.900024,695.159973,695.159973,2985100,decrease
2016-03-08,688.590027,703.789978,685.340027,693.969971,693.969971,2076300,increase
2016-03-09,698.469971,705.679993,694.000000,705.239990,705.239990,1421500,increase
2016-03-10,708.119995,716.440002,703.359985,712.820007,712.820007,2829400,increase

In [47]:
df["Middle"] = (df.Open+df.Close)/2
df["height"]=  abs(df.Open-df.Close)

In [53]:
p = figure(x_axis_type='datetime',width = 1000, height=300)
# p.title="candlestick chart"
p.grid.grid_line_alpha = 0.3

p.segment(df.index, df.High,df.index, df.Low, color="Black")
hours_12 = 12*60*60*1000
p.rect(df.index[df.Status=="increase"], df.Middle[df.Status== "increase"] ,hours_12,
                df.height[df.Status== "increase"], fill_color="green", line_color="black")

p.rect(df.index[df.Status=="decrease"], df.Middle[df.Status== "decrease"],hours_12,
       df.height[df.Status== "decrease"], fill_color="red", line_color="black")

output_file("Chart.html")
show(p)

In [ ]:
fill_color="green", line_color="black")

In [2]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file

start_time= datetime.datetime(2016,3,1)
end_time=datetime.datetime(2017,3,10)

df = data.DataReader(name="GOOG", data_source="yahoo", start = start_time, end= end_time)

df

def inc_dec(c,o):
    if c>o:
        value= "increase"
    elif c<o:
        value = "decrease"    
    else: 
        value = "same"
    return value

df["Status"]= [inc_dec(c, o) for c, o in zip(df.Close, df.Open)]
df

df["Middle"] = (df.Open+df.Close)/2
df["height"]=  abs(df.Open-df.Close)

p = figure(x_axis_type='datetime',width = 1000, height=300, responsive=True)
# p.title="candlestick chart"
p.grid.grid_line_alpha = 0.3

p.segment(df.index, df.High,df.index, df.Low, color="Black")

hours_12 = 12*60*60*1000
p.rect(df.index[df.Status=="increase"], df.Middle[df.Status== "increase"] ,hours_12,
                df.height[df.Status== "increase"], fill_color="#CCFFFF", line_color="black")



p.rect(df.index[df.Status=="decrease"], df.Middle[df.Status== "decrease"],hours_12,
       df.height[df.Status== "decrease"], fill_color="#FF3333", line_color="black")

output_file("Chart.html")
show(p)